# openocd.cfg

# 1. Specify the SEGGER J-Link interface
source [find interface/jlink.cfg]

# 2. The TMS570 is a Cortex-R4F and requires JTAG
transport select jtag

# 3. Set JTAG clock speed (in kHz). 
# 2000 to 4000 is usually stable for J-Link via jumper wires.
adapter speed 2000

# 4. Specify the target MCU
# OpenOCD ships with a built-in config for the TMS570 family
# set DAP_TAPID 0x0b95502f
# set JRC_TAPID 0x0b95502f
set DAP_TAPID 0x0
set JRC_TAPID 0x3b95502f
source [find target/ti_tms570.cfg]

# Hardcode the Debug Base Address we extracted via J-Link
tms570.cpu configure -dbgbase 0x80001000

# Optional: If you mapped the RTCK pin (Pin 11), you can enable adaptive clocking
# jtag_rclk 4000

reset_config none

# Syntax: flash bank <name> <driver> <base_addr> <size_bytes> <chip_width> <bus_width> <target>
# Note: 0x00140000 is 1.25MB (Standard for chips like TMS570LS1224). 
# The tms570 driver will usually auto-probe the exact size once connected.
flash bank tms570.flash tms570 0x00000000 0x00140000 0 0 tms570.cpu
